.login-container {
  width: 300px;
  margin: 100px auto;
  text-align: center;
}
.login-container input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}
.login-container button {
  width: 100%;
  padding: 10px;
}
.login-container p {
  color: red;
}
